/* GENERIC */

.accent-color {
  color: #7e3880;
}

.sorting-menu.style-1 a.active:after {
    bottom: 100%;
}

div.h2,
div.h4 {
  color: #7e3880;
}

.sorting-menu.style-1 a:hover,
.sorting-menu.style-1 a.active {
    color: #7e3880;
}


/* HEADER */

a.logo {
  color: #a793a7;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
}
.hamburger-icon {
  display: none;
}

@media (max-width: 991px) {
  .hamburger-icon {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  nav>ul>li>a {
    color: #a793a7;
  }
  nav>ul>li:hover>a,
  nav>ul>li.active>a {
    color: #7e3880;
  }
}


/* CONTENT */

.simple-article.grey {
  color: #a793a7;
}

.sorting-menu.style-1 {
  color: #a793a7;
}

#about-me-wrapper {
  width: 100%;
  background-color: #ede9f7;
}

#about-me div.h4 {
  text-align: center;
}

#about-me .simple-article {
  text-align: justify;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
}

#about-me #profile-pic {
  width: 100%;
}


/* FOOTER */

footer {
  background-color: #4a404a;
}

footer .copyright>.simple-article {
  color: #a793a7;
}
