/**************** GENERIC ****************/

.accent-color {
  color: #7e3880;
}

.sorting-menu.style-1 a.active:after {
    bottom: 100%;
}

div.h2,
div.h4 {
  color: #7e3880;
}

.sorting-menu.style-1 a:hover,
.sorting-menu.style-1 a.active {
    color: #7e3880;
}


.button.type-3 {
  color: #000;
  font-size: 16px;
  line-height: 22px;
}
.button.type-3:hover {
  color: #7e3880;
}
.button.type-3:hover:before {
  border-left: 1px #7e3880 solid;
  border-bottom: 1px #7e3880 solid;
}
.button.type-3:hover:after {
  border-right: 1px #7e3880 solid;
  border-top: 1px #7e3880 solid;
}

/****************** HEADER *******************/

a.logo {
  color: #a793a7;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  cursor: default;
}
.hamburger-icon {
  display: none;
}

@media (max-width: 991px) {
  .hamburger-icon {
    display: inline-block;
  }
  .hamburger-icon span {
    background: #7e3880;
  }
}

@media (min-width: 992px) {
  nav>ul>li>a {
    color: #a793a7;
  }
  nav>ul>li:hover>a,
  nav>ul>li.active>a {
    color: #7e3880;
  }
}


/************* CONTENT *************/

.simple-article.grey {
  color: #a793a7;
}

/* PORTFOLIO */

.sorting-menu.style-1 {
  color: #a793a7;
}


/* ABOUT ME */

#about-me-wrapper {
  width: 100%;
  background-color: #ede9f7;
}

#about-me div.h4 {
  text-align: center;
}

#about-me .simple-article {
  text-align: justify;
  font-size: 20px;
  line-height: 36px;
  letter-spacing: 1px;
}

#about-me #profile-pic {
  width: 100%;
}


/* CONTACT */

.contacts-form-1-align {
  margin-top: 0;
  top: 0;
}

#contact .simple-article {
  text-align: center;
  font-size: 20px;
}

.input-wrapper textarea.input {
  height: 120px;
}

.input-wrapper .input+label {
  color: #a793a7;
}
.input-wrapper span { /* line under inputs */
  background: #a793a7;
}

.input-wrapper.focus textarea.input+label+span {
  height: 120px;
}
.input-wrapper.focus textarea.input+label {
  top: 128px;
}
.input-wrapper .input {
  color: #222;
}
.input-wrapper span:after {
  height: 150px;
  background-color: #ede9f7;
}


/**************** FOOTER ****************/

footer {
  background-color: #4a404a;
}

footer .copyright>.simple-article {
  color: #a793a7;
}
